@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

@inject IStringLocalizer<SharedResources> sharedLocalizer


<ul >
    <li class="btn btn-link"><a id="change-password" asp-page="./ChangePassword">@sharedLocalizer["Password"]</a></li>

    <li class="btn btn-link"><a asp-page="./PersonalData">@sharedLocalizer["PersonalData"]</a></li>
</ul>
