@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.DownloadPersonalData;
}

@inject IStringLocalizer<SharedResources> sharedLocalizer

<h4>@sharedLocalizer["DownloadData"]</h4>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}