@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.DownloadPersonalData;
    Layout = "/Views/Shared/_Layout.cshtml";

}

@inject IStringLocalizer<SharedResources> sharedLocalizer

<h4>@sharedLocalizer["DownloadData"]</h4>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}