@model Dtos.Supplier.SupplierInputModel

@{
    ViewData["Title"] = "Create";
}

@inject IStringLocalizer<SharedResources> sharedLocalizer

<nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-bottom:15px;">
    <div class="navbar-brand">@sharedLocalizer["EditSupplier"] </div>
</nav>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            @Html.EditorForModel("SupplierEdit")

            <div class="form-group">
                <input type="submit" value="@sharedLocalizer["Create"]" class="btn btn-default" />
                <a asp-action="Index" class="btn btn-light">@sharedLocalizer["BackToList"]</a>
            </div>
        </form>
    </div>
</div>


