@model Areas.Administration.Pages.Users.CreateModel

@{
    var rows = 5;
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form-control-text-box asp-for="UserModel.FirstName"></form-control-text-box>
<form-control-text-box asp-for="UserModel.LastName"></form-control-text-box>
<form-control-text-box asp-for="UserModel.NormalPassword" asp-type="password"></form-control-text-box>
<form-control-text-area asp-for="UserModel.Description" rows="@rows"></form-control-text-area>
<form-control-text-box asp-for="UserModel.Email"></form-control-text-box>
<form-control-text-box asp-for="UserModel.PhoneNumber"></form-control-text-box>


