@model Dtos.Supplier.SupplierInputModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form-control-text-box asp-for="NrIntern"></form-control-text-box>
<form-control-text-box asp-for="Title"></form-control-text-box>
<form-control-text-area asp-for="Description"></form-control-text-area>
<form-control-text-box asp-for="Country"></form-control-text-box>
<form-control-text-box asp-for="City"></form-control-text-box>
<form-control-text-box asp-for="Street"></form-control-text-box>
<form-control-text-box asp-for="ZipCode"></form-control-text-box>
<form-control-text-box asp-for="Email"></form-control-text-box>
<form-control-text-box asp-for="Phone"></form-control-text-box>
<form-control-text-box asp-for="Remark"></form-control-text-box>
