@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

@inject IStringLocalizer<AccessDeniedModel> localizer


<header>
    <h1 class="text-danger">@localizer["AccessDenied"]</h1>
    <p class="text-danger">@localizer["AccessDeniedDesc"]</p>
</header>
