@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@inject IStringLocalizer<SharedResources> sharedLocalizer


<h2>@ViewData["Title"]</h2>
<p>
    @sharedLocalizer["CheckEmail"]
</p>

