@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

@inject IStringLocalizer<SharedResources> sharedLocalizer


<header>
    <h1>@sharedLocalizer["LogOut"]</h1>
    <p>@sharedLocalizer["LogOutDesc"]</p>
</header>