@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
@using Microsoft.AspNetCore.Mvc.Localization

@inject IStringLocalizer<SharedResources> sharedLocalizer

<h2>@sharedLocalizer["ResetPasswordConf"]</h2>
<p>
    @sharedLocalizer["ResetPasswordConfDesc1"] <a asp-page="./Login"> @sharedLocalizer["ResetPasswordConfDesc2"]</a>.
</p>
