@page
@model ERP.Web.Areas.Provider.Pages.Organization.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Organization</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Organization.ID" />
            <div class="form-group">
                <label asp-for="Organization.ProviderOrganizationID" class="control-label"></label>
                <input asp-for="Organization.ProviderOrganizationID" class="form-control" />
                <span asp-validation-for="Organization.ProviderOrganizationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.Title" class="control-label"></label>
                <input asp-for="Organization.Title" class="form-control" />
                <span asp-validation-for="Organization.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.Description" class="control-label"></label>
                <input asp-for="Organization.Description" class="form-control" />
                <span asp-validation-for="Organization.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.Country" class="control-label"></label>
                <input asp-for="Organization.Country" class="form-control" />
                <span asp-validation-for="Organization.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.City" class="control-label"></label>
                <input asp-for="Organization.City" class="form-control" />
                <span asp-validation-for="Organization.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.Street" class="control-label"></label>
                <input asp-for="Organization.Street" class="form-control" />
                <span asp-validation-for="Organization.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.ZipCode" class="control-label"></label>
                <input asp-for="Organization.ZipCode" class="form-control" />
                <span asp-validation-for="Organization.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.Email" class="control-label"></label>
                <input asp-for="Organization.Email" class="form-control" />
                <span asp-validation-for="Organization.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.Phone" class="control-label"></label>
                <input asp-for="Organization.Phone" class="form-control" />
                <span asp-validation-for="Organization.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.CreateBy" class="control-label"></label>
                <input asp-for="Organization.CreateBy" class="form-control" />
                <span asp-validation-for="Organization.CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.UpdateBy" class="control-label"></label>
                <input asp-for="Organization.UpdateBy" class="form-control" />
                <span asp-validation-for="Organization.UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.CreateDate" class="control-label"></label>
                <input asp-for="Organization.CreateDate" class="form-control" />
                <span asp-validation-for="Organization.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.UpdateDate" class="control-label"></label>
                <input asp-for="Organization.UpdateDate" class="form-control" />
                <span asp-validation-for="Organization.UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.Remark" class="control-label"></label>
                <input asp-for="Organization.Remark" class="form-control" />
                <span asp-validation-for="Organization.Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.Deleted" class="control-label"></label>
                <input asp-for="Organization.Deleted" class="form-control" />
                <span asp-validation-for="Organization.Deleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

