@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InputModel.Title" class="control-label"></label>
                <input asp-for="InputModel.Title" class="form-control" />
                <span asp-validation-for="InputModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputModel.Description" class="control-label"></label>
                <input asp-for="InputModel.Description" class="form-control" />
                <span asp-validation-for="InputModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputModel.NrIntern" class="control-label"></label>
                <input asp-for="InputModel.NrIntern" class="form-control" />
                <span asp-validation-for="InputModel.NrIntern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputModel.CreateBy" class="control-label"></label>
                <input asp-for="InputModel.CreateBy" class="form-control" />
                <span asp-validation-for="InputModel.CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputModel.CreateDate" class="control-label"></label>
                <input asp-for="InputModel.CreateDate" class="form-control" />
                <span asp-validation-for="InputModel.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputModel.Remark" class="control-label"></label>
                <input asp-for="InputModel.Remark" class="form-control" />
                <span asp-validation-for="InputModel.Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

