@page "{id}"
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

@inject IStringLocalizer<SharedResources> sharedLocalizer

<nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-bottom:15px;">
    <div class="navbar-brand">@sharedLocalizer["EditNews"] </div>
</nav>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            @Html.EditorForModel("NewsEdit")

            <div class="form-group">
                <input type="submit" value="@sharedLocalizer["Save"]" class="btn btn-success" />
                &nbsp;
                <a asp-page="Index" class="btn btn-light">
                    @sharedLocalizer["BackToList"]
                </a>

            </div>
        </form>
    </div>
</div>

