<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ERP System</title>

    <link rel="stylesheet" href="~/css/globalCss.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/cbfxv-h6xqh.svg" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Order Procurement
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Order</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Stock Receipt</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Invoice</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Supplier<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Customer<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Administration</a>
                </li>


            </ul>

            <partial name="_LoginPartial" />

        </div>
    </nav>



    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group mb-3">
                <input name="searchTerm" id="searchTerm" class="form-control" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-prepend">
                    <button class="btn btn-outline my-2 my-sm-0" type="submit" asp-area="" asp-controller="Home" asp-action="Index"><span class="fa fa-search"></span></button>
                </div>

            </div>
        </form>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - ERP System</p>
        </footer>
    </div>

    <script src="~/js/globalJs.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
