@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@inject IStringLocalizer<SharedResources> sharedLocalizer

<form method="post" class="form-inline my-2 my-lg-0">
    <div class="input-group mb-1">
        <input name="searchTerm" id="searchTerm" class="form-control" type="search" placeholder="@sharedLocalizer["Search"]" aria-label="Search">
        <div class="input-group-prepend">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" asp-area="@(ViewContext.RouteData.Values["Area"])" asp-controller="@(ViewContext.RouteData.Values["Controller"])" asp-action="Search"><span class="fa fa-search"></span></button>
        </div>

    </div>
</form>


