@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@inject IStringLocalizer<SharedResources> sharedLocalizer

<h1 class="text-danger">@sharedLocalizer["Error"]</h1>
<h2 class="text-danger">@sharedLocalizer["ErrorDesc"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@sharedLocalizer["RequestID"]</strong> <code>@Model.RequestId</code>
    </p>
}

