@{
    ViewData["Title"] = "Home Page";
}

@using ERP.Web.Controllers
@inject IStringLocalizer<HomeController> localizer

<partial name="_SearchPartial" />

<p>@localizer["Title"]</p>
<p>TEST MARTIN</p><p>TEST MARTIN</p><p>TEST MARTIN</p>

<p>TEST MARTIN</p>><p>TEST MARTIN</p><p>TEST MARTIN</p><p>TEST MARTIN</p><p>TEST MARTIN</p>

<p>TEST MARTIN</p>
<p>TEST MARTIN</p><p>TEST MARTIN</p>